.bi-pencil-square{
    font-size:1.5em;
}

.bi-trash-fill{
    font-size:1.5em;
}

.link-questionnaire{
    text-decoration: none !important;
    border: none !important;
}

.infoFields{
    position: relative;
    left: -5px;
    margin-top: 10px;
    text-decoration: none !important;
    border: none !important;
    color: #000000;
}

.pagination{
    margin-left: 380px;
}

#select-option{
    display: inline-block;
    width: 80px; max-width: 100px;
    height: 40px;
    overflow: hidden;
    padding: 2px 4px;
    box-sizing: border-box;
    margin-left: 400px;
}

